# Python junk
__pycache__/
*.py[cod]

# Data (Never commit datasets!)
data/train/*.png
data/test/*.png
data/mnist
data/cifar-10


*.jpg
*.png
*.npy
*.npz
*.csv
*.7z
*.pkl

ncd/
# Editor junk
.vscode/
.idea/
.DS_Store